
ion-content{
    --padding-start: 10px;
    --padding-end: 10px;

    .titulo{
        font-family: 'Timmana';
      width: 100%;
       font-weight: bold;
       font-size: 25px;
   }
   
   .subTitulo{
       width: 100%;
       font-family: 'Arial';
       font-weight: bold;
       font-size: 16px;
       color:grey;
       margin-top: 0px;
   }
}